/* Enter your custom styles here */

.testclass {
	color:red;
}

.greenclass{
	color:green;
}

.yellowclass {
	color:yellow;
}

.redclass {
	color:red;
}


.rotate:hover {
	transform:rotate(360deg);
}

